// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootswatch
@import 'bootswatch';

.bg-dark {
    background-color: #302c4e !important;
}

.dot {
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 4px;
    border-radius: 50%;
    display: inline-block;
}

.title-line {
    height: 0.5rem;
    width: 2rem;
    border: 1px solid #777;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 3px;
    display: inline-block;
}

.navsearch {
    width: 30%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.alert {
    position: relative;
    padding: 2rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 53px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    min-width: 200px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 53px);
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 0.4rem 1rem;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #6d1613;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: #888;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 56px;
    /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 56px;
        /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;

}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
